@import "./buttons.scss";

@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");

@font-face {
  font-family: "Onest";
  src: url("https://cdn.example.com/fonts/Onest.woff2") format("woff2"),
    url("https://cdn.example.com/fonts/Onest.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #121211;
  font-size: 16px;
  line-height: 120%;
  font-family: "Onest", sans-serif;
}

.app {
  font-size: 16px;
  color: #121211;
  line-height: 120%;
  font-family: "Onest", sans-serif;
}

.app-container {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 1440px;

  @media all and (max-width: 1200px) {
    margin: 0;
    padding: 0 15px;
    width: 100%;
  }
}

.app-component-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;

  @media all and (max-width: 1200px) {
    grid-template-columns: 100%;
    gap: 20px;
  }
}

.app-section {
  padding: 85px 60px;

  @media all and (max-width: 1200px) {
    padding: 24px 0;
    overflow: hidden;
  }
}

.app {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.app-list {
  padding-left: 0;
  list-style: none;
}

.app-custom-color-title {
  font-size: 48px;
  line-height: 43px;
  font-weight: 500;

  & span {
    background: linear-gradient(90deg, #7a4ff1 0%, #462e8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
