@import './buttons.scss';

.app {
  font-size: 16px;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: calc(100% - 60px);
}

.app-component-layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 105px;
  overflow: hidden;
}

.app-section {
  padding: 85px 60px;
}

.app {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}