.app-cookie-banner {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10000;
    box-shadow:
            0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background: #fff;
    width: 100%;
    max-width: 448px;
    border-radius: 16px;
    padding: 12px;
    display: grid;
    grid-template-columns: 16px auto;
    gap: 8px;
    cursor: default !important;
}

.app-cookie-banner__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.app-cookie-banner__icon {
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.app-cookie-banner__text {
    color: rgb(55, 65, 81);
    font-size: 12px;
    line-height: 16px;
}

.app-cookie-banner__control {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
}

.app-cookie-banner__btn {
    padding: 4px 12px;
    font-size: 12px !important;
    font-weight: 700 !important;
    border-radius: 10px;
    border: 1px solid rgba(110, 67, 210, 0.2);
    background: rgb(255, 255, 255);
}

.app-cookie-banner__btn.accept {
    border: 1px solid #7A4FF1;
    background: #7A4FF1;
    color: #fff;
}

.app-cookie-banner__btn img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.btn-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.app-cookie-banner__list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

.app-cookie-banner__list.active {
    display: flex;
}

.app-cookie-banner__list li {
    list-style: none;
}

.app-cookie-banner__list li .text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.app-cookie-banner__list li .text-top {
    color: rgb(17, 24, 39);
    font-size: 12px;
}

.app-cookie-banner__list li .text-bottom {
    color: rgb(75, 85, 99);
    font-size: 12px;
}

.app-cookie-banner__list li .form-check {
    display: flex;
    gap: 8px;
}

@media all and (max-width: 1200px) {
    .app-cookie-banner {
        width: 100%;
        max-width: calc(100% - 1rem);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
